@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #ffffff;
$gray: #7E8299;
$gray-dark: #3F4254;
$primary: #3699FF;
$secondary: #E4E6EF;
$success: #1BC5BD;
$info: #3699FF;
$warning: #FFA800;
$danger: #F64E60;
$light: #F3F6F9;
$dark: #181C32;
$primaryblue : #048ABF;
$primaryorange:#F15115;
$primary-color :#048ABF;
$secondary-color :#F15115;
$colors: ("blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "white": $white,
    "gray": $gray-600,
    "gray-dark": $gray-800) !default;
$primary-font : "HK Grotesk Legacy";
    